{% extends "main.html" %}

{% block content %}

<script src = "/static/js/index.js"></script>
<div id = "message"> Current Period :<div id = "currentperiod">currrent period</div> </div>

<div id = "location">Current location: {{ location }}</div>

<br><br>
<script>

    var curpd = currentperiod(sum_mins);
    document.getElementById("currentperiod").innerHTML = curpd;
    //alert("hello".concat("hi"));
/*
    if (curpd === 1) {
     document.getElementById("currentperiod").innerHTML = "{{ sch[1] }}";

    }
    else if (curpd === 2) {
        document.getElementById("currentperiod").innerHTML = "{{ sch[2] }}";
    }else if (curpd === 3) {
        document.getElementById("currentperiod").innerHTML = "{{ sch[3] }}";
    }else if (curpd === 4) {
        document.getElementById("currentperiod").innerHTML = "{{ sch[4] }}";
    }else if (curpd === 5) {
        document.getElementById("currentperiod").innerHTML = "{{ sch[5] }}";
    }else if (curpd === 6) {
        document.getElementById("currentperiod").innerHTML = "{{ sch[6] }}";
    }else if (curpd === 7) {
        document.getElementById("currentperiod").innerHTML = "{{ sch[7] }}";
    }else if (curpd === 8) {
        document.getElementById("currentperiod").innerHTML = "{{ sch[8] }}";
    }else if (curpd === 9) {
        document.getElementById("currentperiod").innerHTML = "{{ sch[9] }}";
    }else if (curpd === 10) {
       document.getElementById("currentperiod").innerHTML = "{{ sch[10] }}";
    } */
</script>


<div id = "current_location">




{% if status == -1 %}
<form method="POST">
<input type="submit" value="edit" name="submit">
</form>
{% endif %}

{% if status == 0 %}
Friend Request Sent
{% elif status == 3 %}
<form method="POST">
<input type="submit" value="add_friend" name="submit">
</form>
{% elif status == 1 %}
<form method="POST"> Accept friend request >
<input type="submit" value="add_friend" name="submit">
</form>
{% elif status == -1 %}
<!-- <img src='{{pfp}}' height='75px' width='75px'> -->

{% else %}
You are friends with {{name}}
{% endif %}

{% if status == -2 %}
<h3> Upload Your Profile Picture </h3>

<form method="POST" action="/uploadPFP" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
<input type="submit" value="upload" name="submit">
</form>

<h3>Upload Your Schedule</h3>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
<input type="submit" value="upload" name="submit">
</form>

<h3>OR
Post Your Schedule
</h3>
<form action="/schedule" method="POST">
  Period 1
  <input type="text" name="pd1" value="{{sch[0]}}">
  <br>
  Period 2
  <input type="text" name="pd2" value="{{sch[1]}}">
  <br>
  Period 3
  <input type="text" name="pd3" value="{{sch[2]}}">
  <br>
  Period 4
  <input type="text" name="pd4" value="{{sch[3]}}">
  <br>
  Period 5
  <input type="text" name="pd5" value="{{sch[4]}}">
  <br>
  Period 6
  <input type="text" name="pd6" value="{{sch[5]}}">
  <br>
  Period 7
  <input type="text" name="pd7" value="{{sch[6]}}">
  <br>
  Period 8
  <input type="text" name="pd8" value="{{sch[7]}}">
  <br>
  Period 9
  <input type="text" name="pd9" value="{{sch[8]}}">
  <br>
  Period 10
  <input type="text" name="pd10" value="{{sch[9]}}">
  <br><br>
  <input type="submit" value="Submit">
</form>
{% endif %}
{% if status == -1%}

</div>
<h2>
<img src='{{pfp}}' height='75px' width='75px'> {{name}}'s Schedule 
</h2>
<ul>
{% for pd,class in sch[:] %}
    <li>{{ pd }}<br>
      {% for ppl in class %}
      {{ ppl }},
      {% endfor %}
    </li>
{% endfor %}
</ul>

{% elif status == 2%}

</div>
<h2>
<img src='{{pfp}}' height='75px' width='75px'> {{name}}'s Schedule<br>
</h2>
<ul>
{% for pd in sch[:] %}
    <li>{{ pd }}   </li>

{% endfor %}
</ul>

{% elif status == 1 or status == 0 %}



{% endif %}

<script>
//add functions for updating current location
function getNumber(form) {

}

function optionchanged() {

}

</script>

<!--
<form action="/upload" method="post" enctype="multipart/form-data"> ...
<input type="file" name="file" id="file">
<br>
<br>
<input type="submit" value="Upload Image" name="submit">
</form>
-->
<br>
<br>

{% endblock %}
