{% extends "main.html" %}

{% block content %}



{% if own %}
<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
<input type="submit" value="upload" name="submit">
</form>
{% endif %}

{% if show %}
<br>
<h2>
{{name}}'s Schedule<br>
</h2>
<ul>
{% for pd in sch[1:] %}
    <li>{{ pd }}</li>
{% endfor %}
</ul>


{% else %}


Post Your Schedule
<form action="/schedule" method="POST">
  Period 1 
  <input type="text" name="pd1" value="">
  <br>
  Period 2 
  <input type="text" name="pd2" value="">
  <br>
  Period 3 
  <input type="text" name="pd3" value="">
  <br>
  Period 4 
  <input type="text" name="pd4" value="">
  <br>
  Period 5 
  <input type="text" name="pd5" value="">
  <br>
  Period 6 
  <input type="text" name="pd6" value="">
  <br>
  Period 7 
  <input type="text" name="pd7" value="">
  <br>
  Period 8 
  <input type="text" name="pd8" value="">
  <br>
  Period 9 
  <input type="text" name="pd9" value="">
  <br>
  Period 10
  <input type="text" name="pd10" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
{% endif %}

<!--
<form action="/upload" method="post" enctype="multipart/form-data"> ...
<input type="file" name="file" id="file">
<br>
<br>
<input type="submit" value="Upload Image" name="submit">
</form>
-->
<br>
<br>

{% endblock %}
