<!DOCTYPE html>
<html>
  <head>
    <title>SIGN UP</title>
  </head>
  
  <body>
    
    <h1>WELCOME TO THE SIGN UP PAGE</h1>
    <br>
    <br>
    To Sign Up:
    <br>
    <br>


    <form action="/signup", method="POST">
      username:<br>
      <input type="text" name="username">
      <br>
      <br>
      password:<br>
      <input type="password" name="password1">
      <br>
      <br>
      confirm password:<br>
      <input type="password" name="password2">
      <br>
      <br>
      <input type="submit" value="Sign Up">	    
    </form>
    
    <br>
    <br>
    <br>

    
  </body>
</html>
