 if fileitem.filename:
     bool=True
   # strip leading path from file name to avoid directory traversal attacks
     fname = os.path.basename(fileitem.filename)
     if ' ' in fname or '/' in fname or ',' in fname or '@' in fname or '#' in fname or '%' in fname or '$' in fname:
       print 'Bad characters in file name. Rename pls.'
     open('uploaded/'+pd+'/'+fname, 'wb').write(fileitem.file.read())
     if 'Microsoft Word'not in commands.getoutput("file uploaded/"+pd+"/"+fname) and 'Microsoft Office Word' not in commands.getoutput("file uploaded/"+pd+"/"+fname)and'HTML' not in commands.getoutput("file uploaded/"+pd+"/"+fname)and'ASCII text' not in commands.getoutput("file uploaded/"+pd+"/"+fname) and 'UTF' not in commands.getoutput("file uploaded/"+pd+"/"+fname)and 'PDF' not in commands.getoutput("file uploaded/"+pd+"/"+fname):
       message= 'File type not accepted'
       os.remove("uploaded/"+pd+'/'+fname)
       bool=False
     elif bool:
       size= commands.getoutput("du -h "+ "uploaded/"+pd+'/'+fname)
       if 'M' in size:
         K= size[:size.find('M')]
         if float(K) > 60:
           message= 'File size not accepted'
           os.remove("uploaded/"+pd+'/'+fname)
           bool=False
         else:
           message = 'The file "' + fname + '" was uploaded successfully'
           open('files/uploaded.txt','a').write(','.join([user,fname,pd,rm])+'\n')
       else: 
         message = 'The file "' + fname + '" was uploaded successfully'
         open('files/uploaded.txt','a').write(','.join([user,fname,pd,rm])+'\n')
       
  else:
     message = 'No file was uploaded'
